# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Prateek\Desktop\University Of Cincinnati\Junior Year\Spring 2021\IT3038C - Scripting Languages with AJ Bothe\Project 1 Exp\FootballFixtures_SQL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
